{% extends 'DomaineFilliatreauPresentationBundle::layout.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}
{% block bodyClass %} <body class="no-sidebar"> {% endblock %}
{% block body %}
    
    <!-- Header -->
                    <div id="header">

                            <!-- Inner -->
                                    <div class="inner">
                                            <header>
                                                    <h1><a href="" id="logo">Nous contacter</a></h1>
                                            </header>
                                    </div>

                            <!-- Nav -->
                                    <nav id="nav">
                                            <ul>
                                                    <li><a href="{{path('homepage')}}#domaine" class="scrolly">Le Domaine</a></li>
                                                    <li><a href="{{path('homepage')}}#vignolle" class="scrolly">La Grande Vignolle</a></li>
                                                    <li><a href="{{path('cuvees')}}">Nos cuv&eacute;es</a></li>
                                                    <li><a href="http://www.filliatreau.fr/pages/acheter.php" target="_blank">Acheter en ligne</a></li>
                                                    <li><a href="{{path('contact')}}">Nous contacter</a></li>
                                            </ul>
                                    </nav>
                    </div>
            
            <a href="#" class="scrollup" style="display: none;">Scroll</a>

  
    <!-- Main -->
                    <div class="wrapper style1">

                                                <!-- Email form !-->
                                                {% include 'DomaineFilliatreauPresentationBundle::emailForm.html.twig' %}
                                                

                    </div>
{% endblock %}