<!DOCTYPE html>
<!--
	Domaine Filliatreau Corporate Website
        by Alexandre Moufarek
        aarkyteckt

        Based on
        Helios by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <head>        
        <meta charset="UTF-8" />
        <meta name="description" content="" />
	<meta name="keywords" content="" />

        <title>{% block title %}Domaine Filliatreau{% endblock %}</title>
        
        {% block stylesheets %}

            {# Use of Assetic to combine all CSS files and serve them as a single file for Front end optimization #}
            {# All files are stored in /src/DomaineFilliatreau/PresentationBundle/Resources/public #}
            {# assets:install command copies all /Resources/public from all bundles to /web/bundles/<bundleName> #}
            {# All files are copied to /web/bundles/domainefilliatreaupresentation #}
         
            {# WORKAROUND: Fonts in prod don't work with assetic:dump because they're referenced in css #}
            <link href="{{ asset( 'bundles/domainefilliatreaupresentation/css/style.css' ) }}" rel="stylesheet" />

            {% stylesheets  
                'bundles/domainefilliatreaupresentation/css/skel.css' 
                'bundles/domainefilliatreaupresentation/css/style.css' 
                'bundles/domainefilliatreaupresentation/css/style-normal.css' 
                'bundles/domainefilliatreaupresentation/css/style-noscript.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}

            {# IE 8 case management with specific CSS #}
            <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
            
        {% endblock %}
                {% block javascripts %}
            
            {# Use of Assetic to combine all JS files and serve them as a single file for Front end optimization #}
            {# All files are stored in /src/DomaineFilliatreau/PresentationBundle/Resources/public #}
            {# assets:install command copies all /Resources/public from all bundles to /web/bundles/<bundleName> #}
            {# All files are copied to /web/bundles/domainefilliatreaupresentation #}
            
            {% javascripts 
                'bundles/domainefilliatreaupresentation/js/jquery.min.js'
                'bundles/domainefilliatreaupresentation/js/jquery.dropotron.min.js'
                'bundles/domainefilliatreaupresentation/js/jquery.scrolly.min.js'
                'bundles/domainefilliatreaupresentation/js/jquery.onvisible.min.js'
                'bundles/domainefilliatreaupresentation/js/skel.min.js'
                'bundles/domainefilliatreaupresentation/js/skel-layers.min.js'
                'bundles/domainefilliatreaupresentation/js/init.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            
            {# IE 8 case management with specific JS #}
            <!--[if lte IE 8]><link href="{{ asset('css/ie/html5shiv.js') }}" /><![endif]-->
            
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    
    <body class="homepage">
        
        {% block body %}
            
            <!-- Header -->
                    <div id="header">

                            <!-- Inner -->
                                    <div class="inner">
                                            <header>
                                                    <h1><a href="" id="logo">Domaine Filliatreau</a></h1>
                                                    <hr />
                                                    <p>Saumur Champigny</p>
                                            </header>
                                            <footer>
                                                    <a href="#features" class="button circled scrolly">D&eacute;couvrir</a>
                                            </footer>
                                    </div>

                            <!-- Nav -->
                                    <nav id="nav">
                                            <ul>
                                                    <li><a href="#domaine">Le Domaine</a></li>
                                                    <li>
                                                            <a href="#vignolle">La Grande Vignolle</a>
                                                            <ul>
                                                                    <li><a href="#">Lorem ipsum dolor</a></li>
                                                                    <li><a href="#">Magna phasellus</a></li>
                                                                    <li><a href="#">Etiam dolore nisl</a></li>
                                                                    <li><a href="#">Veroeros feugiat</a></li>
                                                            </ul>
                                                    </li>
                                                    <li><a href="left-sidebar.html">Nos cuv&eacute;es</a></li>
                                                    <li><a href="http://www.filliatreau.fr/pages/acheter.php" target="_blank">Acheter en ligne</a></li>
                                                    <li><a href="#contact">Nous contacter</a></li>
                                            </ul>
                                    </nav>

                    </div>

        {% endblock %}
        
        
        {% block footer %}
            <!-- Footer -->
                    <div id="footer">
                            <div class="container">
                                    <div class="row">
                                            <div class="12u">

                                                    <!-- Contact -->
                                                            <section class="contact">
                                                                    <header>
                                                                            <h2>Nous Contacter</h2>
                                                                    </header>
                                                                    <p>
                                                                        C'est &agrave; 6 kms de Saumur, dans le village de Chaintres, au coeur du vignoble</br>
                                                                        "Saumur-Champigny", que se trouve le Domaine Filliatreau

                                                                        <p>
                                                                            Chaintres - 49400 Saumur</br>
                                                                            Tel : 02 41 52 90 84 - Fax : 02 41 52 49 92</br>
                                                                            <a href="mailto:domaine@filliatreau.fr">domaine@filliatreau.fr</a></br>
                                                                        </p>
                                                                    </p>
                                                                    <ul class="icons">
                                                                            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                                                                            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                                                                            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                                                                            <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
                                                                            <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                                                                            <li><a href="#" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
                                                                    </ul>
                                                            </section>

                                                    <!-- Copyright -->
                                                            <div class="copyright">
                                                                    <ul class="menu">
                                                                            <li>&copy; Domaine Filliatreau. All rights reserved.</li>
                                                                    </ul>
                                                            </div>

                                            </div>

                                    </div>
                            </div>
                    </div>

        {% endblock %}

    </body>
</html>