{% extends 'DomaineFilliatreauPresentationBundle::layout.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}
{% block body %}
    
    {{ parent() }}

    {#
    <!-- Banner -->
            <section id="banner">
                    <header>
                            <p>
                                
                            </p>
                    </header>
            </section>
    #}
    
    <!-- Features -->
            <div class="wrapper style1">

                    <section id="features" class="container special">
                            <header>
                                    <h2>Domaine Filliatreau</h2>
                                    <p>
                                        Histoire et Tradition de l'esprit "Saumur Champigny" depuis 1967
                                    </p>
                            </header>
                            <div class="row">
                                    <article class="6u special">
                                            <a href="#domaine"><img class="image featured" src={{asset('bundles/domainefilliatreaupresentation/images/Domaine/pic01.jpg')}} alt="Domaine" /></a>
                                            <header>
                                                    <h3><a href="#domaine">Le Domaine</a></h3>
                                            </header>
                                            <p>
                                                Sur les plus grandes tables, le <strong>Domaine Filliatreau</strong> s'affirme
                                                depuis une d&eacute;cennie comme une des figures du Val de Loire.
                                            </p>
                                            <footer>
                                                    <a href="#domaine" class="button circled scrolly">D&eacute;couvrez le Domaine</a>
                                            </footer>
                                    </article>
                                    <article class="6u special">
                                            <a href="#vignolle"><img class="image featured" src={{asset('bundles/domainefilliatreaupresentation/images/Grande%20Vignolle/pic01.jpg')}} alt="GrandeVignolle" /></a>
                                            <header>
                                                    <h3><a href="#vignolle">La Grande Vignolle</a></h3>
                                            </header>
                                            <p>
                                                Nos vins sont propos&eacute;s au Domaine &agrave; Chaintres ainsi que dans le cadre
                                                prestigieux du site touristique de la <strong>Grande Vignolle</strong>.
                                            </p>
                                            <footer>
                                                    <a href="#vignolle" class="button circled scrolly">D&eacute;couvrez la Grande Vignolle</a>
                                            </footer>
                                    </article>
                            </div>
                    </section>
                
            </div>
                            
                                            
     <!-- Le Domaine -->
            <div class="wrapper style1">

                    <section id="domaine" class="container special">
                            <header>
                                    <h2>Le Domaine</h2>
                                    <p>
                                        Histoire et Tradition de l'esprit "Saumur Champigny" depuis 1967
                                    </p>
                            </header>
                            <div class="row">
                                    <article class="8u special">
                                            <a href=""><img class="image featured" src={{asset('bundles/domainefilliatreaupresentation/images/Domaine/pic03.jpg')}} alt="Domaine" /></a>
                                            <header>
                                                    <h3><a href="#">Un peu d'Histoire...</a></h3>
                                            </header>
                                            <div class="row">
                                                <article class="6u special">
                                                <p>
                                                    C'est en 1967 que Maurice Filliatreau c&egrave;de les 8 hectares de son exploitation &agrave; son fils Paul. A cette &eacute;poque, 
                                                    les ros&eacute;s pr&eacute;dominent. La finesse et l'esprit des "Saumur Champigny" n'ont alors pas encore acquis leurs lettres
                                                    de noblesse.</br>
                                                    Amoureux de ces rouges l&eacute;gers aux ar&ocirc;mes de fruits rouges, Paul Filliatreau se consacre 
                                                    &agrave; leur &eacute;laboration.
                                                </p>
                                                </article>
                                                <article class="6u special">
                                                <p>
                                                    Pour en faire appr&eacute;cier les saveurs, il va parcourir la France. 
                                                    Nombreux sont aujourd'hui les amateurs sensibles &agrave; ce charme ind&eacute;finissable qui caract&eacute;rise les "Saumur Champigny" 
                                                    du Domaine Filliatreau.
                                                </p>
                                                <p>
                                                    En 1990, Fredrik rejoint son p&egrave;re &agrave; la t&ecirc;te de l'exploitation. 
                                                    A force de m&eacute;thode et de pers&eacute;v&eacute;rance, Paul et Fredrik Filliatreau exploitent actuellement un domaine 
                                                    de plus de 40 hectares.
                                                </p>
                                                </article>
                                            </div>    
                                    </article>
                                    <article class="4u special">
                                            <a href=""><img class="image featured" src={{asset('bundles/domainefilliatreaupresentation/images/Domaine/pic02.jpg')}} alt="Domaine" /></a>
                                            <header>
                                                    <h3><a href="#">Nos cuv&eacute;es</a></h3>
                                            </header>
                                            <p>
                                                Surveillance des cuvaisons et contr&ocirc;le des temp&eacute;ratures, une ma&icirc;trise technique
                                                et un savoir-faire qui permettent &agrave; la famille Filliatreau de donner au c&eacute;page Cabernet Franc
                                                toute la richesse des terroirs argilo-calcaires du Domaine. Chaque parcelle est vinifi&eacute;e s&eacute;par&eacute;ment
                                                avec soin, pour donner aux diff&eacute;rentes cuv&eacute;es cette saveur si particuli&egrave;re.
                                            <footer>
                                                    <a href="#" class="button circled scrolly">D&eacute;couvrez nos cuv&eacute;es</a>
                                            </footer>
                                            </p>
                                    </article>
                            </div>
                    </section>
                
            </div>                                           
                                            
     <!-- La Grande Vignolle -->
            <div class="wrapper style1">

                    <section id="vignolle" class="container special">
                            <header>
                                    <h2>La Grande Vignolle</h2>
                                    <p>
                                        Un cadre prestigieux pour d&eacute;guster nos vins ou pour vos r&eacute;ceptions priv&eacute;es
                                    </p>
                            </header>
                            <div class="row">
                                    <article class="4u special">
                                            <a href=""><img class="image featured" src={{asset('bundles/domainefilliatreaupresentation/images/Grande%20Vignolle/pic05.jpg')}} alt="GrandeVignolle" /></a>
                                            <header>
                                                    <h3><a href="#vignolle">Un site prestigieux</a></h3>
                                            </header>
                                            <p>
                                                Sur la route des rois, entre l'Abbaye de Fontevraud et le Ch&acirc;teau de Saumur, au coeur 
                                                du vignoble de "Saumur Champigny", la Grande Vignolle est pr&ecirc;te &acirc; vous accueillir pour 
                                                une d&eacute;gustation des vins du Domaine Filliatreau pour vos r&eacute;ceptions jusqu'&agrave; 120 personnes 
                                                dans les diff&eacute;rentes salles du logis ou dans le grand caveau.
                                            </p> 
                                    </article>
                                    <article class="8u special">
                                            <a href=""><img class="image featured" src={{asset('bundles/domainefilliatreaupresentation/images/Grande%20Vignolle/pic09.jpg')}} alt="GrandeVignolle" /></a>
                                            <header>
                                                    <h3><a href="#vignolle">Historique</a></h3>
                                            </header>
                                            <p>
                                                Au 13 &egrave;me si&egrave;cle, petit village habit&eacute; par plusieurs familles de paysans, la Grande Vignolle 
                                                est devenue, &agrave; partir du 16 &eacute;me si&egrave;cle, une habitation seigneuriale avec sa fuie et sa chapelle. 
                                                En 1990 nous avons voulu marier nos vins &agrave; la pierre nourrici&egrave;re des Saumur Champigny et faire 
                                                de la Grande Vignolle la vitrine des vins du Domaine Filliatreau.
                                            <p>
                                            </p>
                                                Si vous &ecirc;tes amoureux de belles pierres, de bon vin et si vous voulez d&eacute;couvrir un site troglodytique 
                                                exceptionnel qui domine des si&egrave;cles d'histoire, vous ne pourrez pas passer dans la r&eacute;gion sans venir
                                                voir la Grande Vignolle. Le retrait de la Loire &agrave; l'&egrave;re tertiaire a permis &agrave; l'homme de creuser un 
                                                site troglodytique des plus exceptionnels.
                                            </p> 
                                    </article>                                 
                                    <article class="4u special">
                                            <a href=""><img class="image featured" src={{asset('bundles/domainefilliatreaupresentation/images/Domaine/pic02.jpg')}} alt="GrandeVignolle" /></a>
                                            <header>
                                                    <h3><a href="#vignolle">R&eacute;servations</a></h3>
                                            </header>
                                            <p>
                                                De Mai &acirc; Septembre les Veill&egrave;es de la Grande Vignolle renseignement et r&eacute;servation :</br>
                                                02 41 38 16 44</br>
                                                06 72 74 31 33</br>
                                                06 20 10 40 40</br>
                                            <footer>
                                                    <a href="#" class="button circled scrolly">R&eacute;server</a>
                                            </footer>
                                            </p>
                                    </article>
                                    <article class="8u special">
                                            <a href=""><img class="image featured" src={{asset('bundles/domainefilliatreaupresentation/images/Grande%20Vignolle/pic03.jpg')}} alt="GrandeVignolle" /></a>
                                            <header>
                                                    <h3><a href="#vignolle">Prestations</a></h3>
                                            </header>
                                            <p>
                                                Les pi&egrave;ces du Logis Seigneurial et les caves font de la Grande Vignolle un endroit id&eacute;al 
                                                pour organiser des repas de groupe ou tous types de r&eacute;ceptions. Les salles peuvent accueillir 
                                                de 15 &agrave; 150 personnes. L'organisation des r&eacute;ceptions peut se faire de deux mani&egrave;res :</br>
                                            </p>
                                            <p>
                                                - Soit vous louez la salle et organisez le repas vous-m&ecirc;me. Le prix de la location varie de 135 &agrave; 
                                                500 Euros selon la salle.</br>

                                                - Soit vous choisissez un forfait comprenant le repas, le vin (4 verres par personne) et la location de la salle. 
                                                Les vins propos&eacute;s sont ceux du Domaine Filliatreau.</br>

                                                - Menu &agrave; partir de 24,00 Euros (non compris les vins et la location de salle).
                                            </p>
                                    </article>  
                                    
                            </div>
                                              
                    </section>
                
            </div>                                           
                                            
{% endblock %}