{% extends 'DomaineFilliatreauPresentationBundle::layout.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}
{% block bodyClass %} <body class="no-sidebar"> {% endblock %}
{% block body %}
    
    <!-- Header -->
                    <div id="header">

                            <!-- Inner -->
                                    <div class="inner">
                                            <header>
                                                    <h1><a href="" id="logo">Nos cuv&eacute;es</a></h1>
                                            </header>
                                    </div>

                            <!-- Nav -->
                                    <nav id="nav">
                                            <ul>
                                                    <li><a href="{{path('homepage')}}#domaine" class="scrolly">Le Domaine</a></li>
                                                    <li>
                                                            <a href="{{path('homepage')}}#vignolle" class="scrolly">La Grande Vignolle</a>
                                                            <ul>
                                                                    <li><a href="#">Lorem ipsum dolor</a></li>
                                                                    <li><a href="#">Magna phasellus</a></li>
                                                                    <li><a href="#">Etiam dolore nisl</a></li>
                                                                    <li><a href="#">Veroeros feugiat</a></li>
                                                            </ul>
                                                    </li>
                                                    <li><a href="{{path('cuvees')}}">Nos cuv&eacute;es</a></li>
                                                    <li><a href="http://www.filliatreau.fr/pages/acheter.php" target="_blank">Acheter en ligne</a></li>
                                                    <li><a href="#footer" class="scrolly">Nous contacter</a></li>
                                            </ul>
                                    </nav>
                    </div>
            
            <a href="#" class="scrollup" style="display: none;">Scroll</a>

    <!-- Carousel -->
            <section class="carousel">
                    <div class="reel">
                            <article class="">
                                    <a href="#product1"><img class="image featured" src={{asset('bundles/domainefilliatreaupresentation/images/Cuvees/Traditionnelles/pic01.jpg')}} alt="TraditionalWine1" /></a>
                                    <header>                                            
                                        <h3><a href="{{path('cuvees')}}#product1">Saumur Champigny</br>"Domaine Filliatreau"</br>"Tradition"</a></h3>
                                    </header>						
                            </article>
                            <article>
                                    <a href="#product2"><img class="image featured" src={{asset('bundles/domainefilliatreaupresentation/images/Cuvees/Traditionnelles/pic02.jpg')}} alt="TraditionalWine2" /></a>
                                    <header>
                                        <h3><a href="{{path('cuvees')}}#product2">Saumur</br>"Ch&acirc;teau Fouquet"</br>"Tradition"</a></h3>
                                    </header>                                  							
                            </article>
                            <article>
                                    <a href="{{path('cuvees')}}#product3"><img class="image featured" src={{asset('bundles/domainefilliatreaupresentation/images/Cuvees/Traditionnelles/pic03.jpg')}} alt="TraditionalWine3" /></a>
                                    <header>
                                        <h3><a href="{{path('cuvees')}}#product3">Saumur Champigny</br>"Lena Filliatreau"</br></br></a></h3>
                                    </header>							
                            </article>
                            <article>
                                    <a href="{{path('cuvees')}}#product4"><img class="image featured" src={{asset('bundles/domainefilliatreaupresentation/images/Cuvees/Traditionnelles/pic04.jpg')}} alt="TraditionalWine4" /></a>
                                    <header>
                                            <h3><a href="{{path('cuvees')}}#product4">Saumur Champigny</br>"La Grande Vignolle"</br></br></a></h3>
                                    </header>						
                            </article>
                            <article>
                                    <a href="{{path('cuvees')}}#product5"><img class="image featured" src={{asset('bundles/domainefilliatreaupresentation/images/Cuvees/Traditionnelles/pic05.jpg')}} alt="TraditionalWine5" /></a>
                                    <header>
                                            <h3><a href="{{path('cuvees')}}#product5">Saumur Champigny</br>"Domaine Filliatreau"</br>"Vieilles vignes"</a></h3>
                                    </header>						
                            </article>
                            <article>
                                    <a href="{{path('cuvees')}}#product6"><img class="image featured" src={{asset('bundles/domainefilliatreaupresentation/images/Cuvees/Speciales/pic01.jpg')}} alt="SpecialWine1" /></a>
                                    <header>
                                            <h3><a href="{{path('cuvees')}}#product6">Saumur</br>Cuv&eacute;es de printemps</br>"Paul Filliatreau"</a></h3>
                                    </header>						
                            </article>
                            <article>
                                    <a href="{{path('cuvees')}}#product7"><img class="image featured" src={{asset('bundles/domainefilliatreaupresentation/images/Cuvees/Speciales/pic02.jpg')}} alt="SpecialWine2" /></a>
                                    <header>
                                            <h3><a href="{{path('cuvees')}}#product7">Saumur Champigny</br>Cuv&eacute;es de printemps</br>"Paul Filliatreau"</a></h3>
                                    </header>						
                            </article>
                            <article>
                                    <a href="{{path('cuvees')}}#product8"><img class="image featured" src={{asset('bundles/domainefilliatreaupresentation/images/Cuvees/Speciales/pic03.jpg')}} alt="SpecialWine3" /></a>
                                    <header>
                                            <h3><a href="{{path('cuvees')}}#product8">Saumur Blanc</br>"Limago"</br></br></a></h3>
                                    </header>						
                            </article>
                            <article>
                                    <a href="{{path('cuvees')}}#product9"><img class="image featured" src={{asset('bundles/domainefilliatreaupresentation/images/Cuvees/Speciales/pic04.jpg')}} alt="SpecialWine4" /></a>
                                    <header>
                                            <h3><a href="{{path('cuvees')}}#product9">Saumur</br>"Ch&acirc;teau Fouquet"</br>"Cuv&eacute;e des 12 f&ucirc;ts"</a></h3>
                                    </header>						
                            </article>        
                             

                                    

 
                    </div>
            </section>
			
{% endblock %}