{% extends 'DomaineFilliatreauPresentationBundle::layout.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}
{% block bodyClass %} <body class="no-sidebar"> {% endblock %}
{% block body %}
    
    <!-- Header -->
                    <div id="header">

                            <!-- Inner -->
                                    <div class="inner">
                                            <header>
                                                    <h1><a href="" id="logo">Nos cuv&eacute;es</a></h1>
                                            </header>
                                    </div>

                            <!-- Nav -->
                                    <nav id="nav">
                                            <ul>
                                                    <li><a href="{{path('homepage')}}#domaine" class="scrolly">Le Domaine</a></li>
                                                    <li><a href="{{path('homepage')}}#vignolle" class="scrolly">La Grande Vignolle</a></li>
                                                    <li><a href="{{path('cuvees')}}">Nos cuv&eacute;es</a></li>
                                                    <li><a href="http://www.filliatreau.fr/pages/acheter.php" target="_blank">Acheter en ligne</a></li>
                                                    <li><a href="#footer" class="scrolly">Nous contacter</a></li>
                                            </ul>
                                    </nav>
                    </div>
            
            <a href="#" class="scrollup" style="display: none;">Scroll</a>

    <!-- Carousel -->
            <section class="carousel">
                    <div class="reel">
                            <article class="">
                                    <a href="#product1"><img class="image featured" src={{asset('bundles/domainefilliatreaupresentation/images/Cuvees/Traditionnelles/pic01.jpg')}} alt="TraditionalWine1" /></a>
                                    <header>                                            
                                        <h3><a href="{{path('cuvees')}}#product1">Saumur Champigny</br>"Domaine Filliatreau"</br>"Tradition"</a></h3>
                                    </header>						
                            </article>
                            <article>
                                    <a href="#product2"><img class="image featured" src={{asset('bundles/domainefilliatreaupresentation/images/Cuvees/Traditionnelles/pic02.jpg')}} alt="TraditionalWine2" /></a>
                                    <header>
                                        <h3><a href="{{path('cuvees')}}#product2">Saumur</br>"Ch&acirc;teau Fouquet"</br>"Tradition"</a></h3>
                                    </header>                                  							
                            </article>
                            <article>
                                    <a href="{{path('cuvees')}}#product3"><img class="image featured" src={{asset('bundles/domainefilliatreaupresentation/images/Cuvees/Traditionnelles/pic03.jpg')}} alt="TraditionalWine3" /></a>
                                    <header>
                                        <h3><a href="{{path('cuvees')}}#product3">Saumur Champigny</br>"Lena Filliatreau"</br></br></a></h3>
                                    </header>							
                            </article>
                            <article>
                                    <a href="{{path('cuvees')}}#product4"><img class="image featured" src={{asset('bundles/domainefilliatreaupresentation/images/Cuvees/Traditionnelles/pic04.jpg')}} alt="TraditionalWine4" /></a>
                                    <header>
                                            <h3><a href="{{path('cuvees')}}#product4">Saumur Champigny</br>"La Grande Vignolle"</br></br></a></h3>
                                    </header>						
                            </article>
                            <article>
                                    <a href="{{path('cuvees')}}#product5"><img class="image featured" src={{asset('bundles/domainefilliatreaupresentation/images/Cuvees/Traditionnelles/pic05.jpg')}} alt="TraditionalWine5" /></a>
                                    <header>
                                            <h3><a href="{{path('cuvees')}}#product5">Saumur Champigny</br>"Domaine Filliatreau"</br>"Vieilles vignes"</a></h3>
                                    </header>						
                            </article>
                            <article>
                                    <a href="{{path('cuvees')}}#product6"><img class="image featured" src={{asset('bundles/domainefilliatreaupresentation/images/Cuvees/Speciales/pic01.jpg')}} alt="SpecialWine1" /></a>
                                    <header>
                                            <h3><a href="{{path('cuvees')}}#product6">Saumur</br>Cuv&eacute;es de printemps</br>"Paul Filliatreau"</a></h3>
                                    </header>						
                            </article>
                            <article>
                                    <a href="{{path('cuvees')}}#product7"><img class="image featured" src={{asset('bundles/domainefilliatreaupresentation/images/Cuvees/Speciales/pic02.jpg')}} alt="SpecialWine2" /></a>
                                    <header>
                                            <h3><a href="{{path('cuvees')}}#product7">Saumur Champigny</br>Cuv&eacute;es de printemps</br>"Paul Filliatreau"</a></h3>
                                    </header>						
                            </article>
                            <article>
                                    <a href="{{path('cuvees')}}#product8"><img class="image featured" src={{asset('bundles/domainefilliatreaupresentation/images/Cuvees/Speciales/pic03.jpg')}} alt="SpecialWine3" /></a>
                                    <header>
                                            <h3><a href="{{path('cuvees')}}#product8">Saumur Blanc</br>"Limago"</br></br></a></h3>
                                    </header>						
                            </article>
                            <article>
                                    <a href="{{path('cuvees')}}#product9"><img class="image featured" src={{asset('bundles/domainefilliatreaupresentation/images/Cuvees/Speciales/pic04.jpg')}} alt="SpecialWine4" /></a>
                                    <header>
                                            <h3><a href="{{path('cuvees')}}#product9">Saumur</br>"Ch&acirc;teau Fouquet"</br>"Cuv&eacute;e des 12 f&ucirc;ts"</a></h3>
                                    </header>						
                            </article>        
                    </div>
            </section>
                                    
    <!-- Main -->
                    <div class="wrapper style1">

                            <div class="container">
                                
                                    <div class="row"  id="product1"> 
                                            <div class="2u special">
                                                    <img class="image featured" src={{asset('bundles/domainefilliatreaupresentation/images/Cuvees/Traditionnelles/pic01.gif')}} alt="" />
                                            </div>
                                            <div class="10u special">
                                                    <article>
                                                            <header>
                                                                    <h3>SAUMUR CHAMPIGNY Domaine Filliatreau</h3>
                                                                    <p>
                                                                        Notre ancienne cuv&eacute;e "Jeunes Vignes" qui avait &eacute;t&eacute; baptis&eacute;e ainsi en 1978...
                                                                        </br>Le "classique" du Domaine Filliatreau.
                                                                    </p>                                                                                    
                                                            </header>                                                      
                                                            <section>
                                                                <div class="row">
                                                                    <div class="6u special">
                                                                        <header>
                                                                                <h4>Terroir</h4>
                                                                        </header>
                                                                        <p>
                                                                                Ce sont des parcelles plac&eacute;es autour du village de Chaintres et sur les communes de Dampierre sur Loire, 
                                                                                Varrains et Chac&eacute;, au sud-est de Saumur. Toutes sur terrains argilo-calcaire. 
                                                                        </p>
                                                                        <header>
                                                                                <h4>Les vignes</h4>
                                                                        </header>
                                                                        <p>
                                                                                 Elles ont en moyenne 20 ans et sont plant&eacute;es &agrave; une densit&eacute; de 5000 pieds &agrave; l'hectare et sur une exposition
                                                                                 tr&egrave;s variable du fait du morcellement des parcelles. Le c&eacute;page utilis&eacute; est le Cabernet Franc &agrave; 100%.
                                                                        </p>
                                                                        <header>
                                                                                <h4>La taille</h4>
                                                                        </header>
                                                                        <p>
                                                                                 Traditionnellement nous pratiquons la taille Guyot "Val de Loire" (une baguette et deux coursons) ce qui 
                                                                                 permet un choix plus facile du futur bois fructif&egrave;re lors de la taille, et une bonne r&eacute;partition des grappes 
                                                                                 sur ces m&ecirc;mes bois. Donc plus d'a&eacute;ration des raisins, et une meilleure exposition des fruits.
                                                                        </p>                                                                        
                                                                    </div>
                                                                    <div class="6u special">    
                                                                        <header>
                                                                                <h4>La production</h4>
                                                                        </header>
                                                                        <p>
                                                                                  Le rendement de ces vignes varie entre 40 et 60 hectolitres &agrave; l'hectare. 
                                                                                  Cette production est sensiblement diff&eacute;rente entre les parcelles suivant leur situation, la nature du sol et 
                                                                                  bien s&ucirc;r leur &acirc;ge. Nous contr&ocirc;lons de toutes fa&ccedil;ons ces rendements gr&acirc;ce &agrave; la taille, l'enherbement et parfois 
                                                                                  l'&eacute;claircissage, si cela est n&eacute;cessaire.
                                                                        </p>
                                                                        <header>
                                                                                <h4>La recolte</h4>
                                                                        </header>
                                                                        <p>
                                                                                  Exclusivement manuelle, elle se fait &agrave; la hotte et en bennes &eacute;quip&eacute;es de tables de trie.
                                                                        </p>

                                                                        <header>
                                                                                <h4>La vinification</h4>
                                                                        </header>
                                                                        <p>
                                                                                  Huit &agrave; dix jours de cuvaison en cuves d'acier inoxydable. Un syst&egrave;me de circulation d'eau chaude et froide permet
                                                                                  de maintenir la temp&eacute;rature du jus en fermentation &agrave; environ 25/27&deg;C. Ce contr&ocirc;le des vinifications &agrave; basses temp&eacute;ratures
                                                                                  associ&eacute; au terroir et surtout au c&eacute;page cabernet franc permet d'obtenir un vin fruit&eacute; et gouleyant &agrave; souhait.
                                                                        </p>

                                                                        <header>
                                                                                <h4>Le vin</h4>
                                                                        </header>
                                                                        <p>
                                                                                  C'est un vin frais, flatteur et gouleyant, au go&ucirc;t agr&eacute;ablement fruit&eacute;. Il se boit &agrave; temp&eacute;rature de cave (12&deg;c &agrave; 14&deg;c)
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </section>
                                                    </article>
                                            </div>                                                              
                                    </div>  
                                    <hr>
                                    <div class="row"  id="product2"> 
                                            <div class="2u special">
                                                    <img class="image featured" src={{asset('bundles/domainefilliatreaupresentation/images/Cuvees/Traditionnelles/pic02.gif')}} alt="" />
                                            </div>
                                            <div class="10u special">
                                                    <article>
                                                            <header>
                                                                    <h3>SAUMUR CHAMPIGNY Ch&acirc;teau Fouquet</h3>
                                                                    <p>
                                                                        Un petit Domaine sur un grand terroir.</br>
                                                                        Enti&egrave;rement cultiv&eacute; et travaill&eacute; selon les r&egrave;gles de l'agriculture biologique.
                                                                    </p>                                                                                    
                                                            </header>                                                      
                                                            <section>
                                                                <div class="row">                                                                    
                                                                    <div class="6u special">
                                                                        <header>
                                                                                <h4>Terroir</h4>
                                                                        </header>
                                                                        <p>
                                                                                Une seule parcelle de 6,5 hectares de terrain argilo-calcaire, 
                                                                                situ&eacute;e sur la commune de BR&Eacute;Z&Eacute;, &agrave; environ 10 kilom&egrave;tres &agrave; l'est 
                                                                                de SAUMUR.
                                                                        </p>
                                                                        <header>
                                                                                <h4>Les vignes</h4>
                                                                        </header>
                                                                        <p>
                                                                                C&eacute;page cabernet franc &agrave; 100%. Les vignes ont &eacute;t&eacute; plant&eacute;es en 1987 &agrave; 
                                                                                une densit&eacute; de 5000 pieds &agrave; l'hectare sur une orientation nord/sud.
                                                                        </p>
                                                                        <header>
                                                                                <h4>La taille</h4>
                                                                        </header>
                                                                        <p>
                                                                                Pendant les premi&egrave;res ann&eacute;es les vignes ont &eacute;t&eacute; taill&eacute;es en "Guyot double" 
                                                                                (deux baguettes) pour bien ouvrir le cep. Maintenant elles sont taill&eacute;es en 
                                                                                "Guyot Val de Loire".
                                                                        </p>                
                                                                        <header>
                                                                                <h4>La production</h4>
                                                                        </header>
                                                                        <p>
                                                                                Le rendement moyen de la vigne est de 50 hectolitres &agrave; l'hectare. Cette production 
                                                                                est contr&ocirc;l&eacute;e essentiellement par la taille. </br>
                                                                                La parcelle est aussi enti&egrave;rement enherb&eacute;e, ce qui concurrence la vigne et permet 
                                                                                de limiter la production mais aussi de diminuer consid&eacute;rablement les risques de 
                                                                                pourriture des raisins.Nous passons aussi dans les vignes en juin pour &eacute;claircir 
                                                                                (enlever une partie des grappes) et ne garder ainsi que 6 ou 7 grappes bien expos&eacute;es 
                                                                                par souches.
                                                                        </p>
                                                                    </div>
                                                                    <div class="6u special">    
                                                                        <header>
                                                                                <h4>La recolte</h4>
                                                                        </header>
                                                                        <p>
                                                                                Exclusivement manuelle, elle se fait en caisses de 20 kg de vendanges pour &eacute;viter le
                                                                                tassement des raisins et ainsi l'oxydation du jus. Les raisins sont &eacute;grapp&eacute;es au dessus 
                                                                                des cuves. Le remplissage se fait par gravit&eacute;.
                                                                        </p>

                                                                        <header>
                                                                                <h4>La vinification</h4>
                                                                        </header>
                                                                        <p>
                                                                                Une quinzaine de jours de mac&eacute;ration en cave, en cuves d'acier inoxydable &agrave; pigeage 
                                                                                automatique. Les temp&eacute;ratures sont maintenues aux alentours de 25/27&deg;c et les cuves 
                                                                                sont brass&eacute;es par deux remontages d'homog&eacute;n&eacute;isation chaque jours dont un avec pigeage.
                                                                        </p>

                                                                        <header>
                                                                                <h4>Le vin</h4>
                                                                        </header>
                                                                        <p>
                                                                                Vin vif et puissant, caract&eacute;ris&eacute; par ses ar&ocirc;mes de fruits rouges. 
                                                                                Il peut vieillir en cave plusieurs ann&eacute;es.
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </section>
                                                    </article>
                                            </div>                                                              
                                    </div>          
                                    <hr>
                                    <div class="row"  id="product3"> 
                                            <div class="2u special">
                                                    <img class="image featured" src={{asset('bundles/domainefilliatreaupresentation/images/Cuvees/Traditionnelles/pic03.gif')}} alt="" />
                                            </div>
                                            <div class="10u special">
                                                    <article>
                                                            <header>
                                                                    <h3>SAUMUR CHAMPIGNY Lena Filliatreau</h3>
                                                                    <p>
                                                                        Le bon compromis entre nos cuv&eacute;es Domaine et nos cuv&eacute;es Vieilles Vignes.</br> 
                                                                        La cuv&eacute;e Lena Filliatreau existe depuis 1982...
                                                                    </p>                                                                                    
                                                            </header>                                                      
                                                            <section>
                                                                <div class="row">
                                                                    <div class="6u special">
                                                                        <header>
                                                                                <h4>Terroir</h4>
                                                                        </header>
                                                                        <p>
                                                                                R&eacute;parties sur les neuf communes de l'appellation Saumur Champigny, les parcelles de la 
                                                                                cuv&eacute;e "Lena Filliatreau" sont sur des terrains argilo-calcaire et argilo-silicieux.
                                                                        </p>
                                                                        <header>
                                                                                <h4>Les vignes</h4>
                                                                        </header>
                                                                        <p>
                                                                                D'&acirc;ges tr&egrave;s diff&eacute;rents en raison du morcellement complexe des parcelles, les vignes ont en 
                                                                                moyenne 30 &agrave; 35 ans. Elles sont plant&eacute;es &agrave; 5000 pieds &agrave; l'hectare. Le c&eacute;page utilis&eacute; est le 
                                                                                Cabernet Franc &agrave; 100%.
                                                                        </p>
                                                                        <header>
                                                                                <h4>La taille</h4>
                                                                        </header>
                                                                        <p>
                                                                                La taille la plus utilis&eacute;e pour ces vignes est la "Guyot simple Val de Loire" (une baguette et deux coursons).
                                                                        </p>     
                                                                        <header>
                                                                                <h4>La production</h4>
                                                                        </header>
                                                                        <p>
                                                                                Le rendement des vignes r&eacute;serv&eacute;es aux cuv&eacute;es Lena Filliatreau est tr&egrave;s variable. 
                                                                                En moyenne nous comptons environ 50 hectolitres par hectare.
                                                                        </p>
                                                                    </div>
                                                                    <div class="6u special">                                                                            
                                                                        <header>
                                                                                <h4>La recolte</h4>
                                                                        </header>
                                                                        <p>
                                                                                Exclusivement manuelle, la r&eacute;colte se fait traditionnellement &agrave; la hotte, et en bennes &agrave; vendanges.
                                                                        </p>

                                                                        <header>
                                                                                <h4>La vinification</h4>
                                                                        </header>
                                                                        <p>
                                                                                Environ une semaine de cuvaison en cuves d'acier inoxydable. Un syst&egrave;me de circulation d'eau 
                                                                                chaude ou froide permet de contr&ocirc;ler les temp&eacute;ratures de vinification. La vinification se fait 
                                                                                &agrave; environ 25&deg;c ce qui permet d'extraire les ar&ocirc;mes de fruits rouges typiques du Cabernet Franc.
                                                                        </p>

                                                                        <header>
                                                                                <h4>Le vin</h4>
                                                                        </header>
                                                                        <p>
                                                                                La temp&eacute;rature de vinification, les associations de terroirs ainsi que l'&acirc;ge des vignes nous 
                                                                                donne un vin vif au bouquet fruit&eacute;, charnu et long en bouche. Il peut vieillir une dizaine 
                                                                                d'ann&eacute;es comme il peut &ecirc;tre bu jeune. Il se boit &agrave; environ 14&deg;c.
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </section>
                                                    </article>
                                            </div>                                                              
                                    </div>          
                                    <hr>        
                                    <div class="row"  id="product4"> 
                                            <div class="2u special">
                                                    <img class="image featured" src={{asset('bundles/domainefilliatreaupresentation/images/Cuvees/Traditionnelles/pic04.gif')}} alt="" />
                                            </div>
                                            <div class="10u special">
                                                    <article>
                                                            <header>
                                                                    <h3>SAUMUR CHAMPIGNY La Grande Vignolle</h3>
                                                                    <p>
                                                                        L'expression d'un terroir tr&egrave;s typique. 
                                                                        Les vignes de cette cuv&eacute;e poussent juste au dessus du site troglodytique de la Grande Vignolle, 
                                                                        creus&eacute; durant des si&egrave;cles par l'homme. De simples caves en logis seigneurial, c'est aujourd'hui 
                                                                        la vitrine des produits du Domaine Filliatreau.
                                                                    </p>                                                                                    
                                                            </header>                                                      
                                                            <section>
                                                                <div class="row">
                                                                    <div class="6u special">
                                                                        <header>
                                                                                <h4>Terroir</h4>
                                                                        </header>
                                                                        <p>
                                                                                Situ&eacute; sur la commune de Turquant, sur les c&ocirc;teaux surplombant la Loire, c'est un terroir tr&egrave;s
                                                                                calcaire. L'ensemble des parcelles repr&eacute;sentent 7 hectares.
                                                                        </p>
                                                                        <header>
                                                                                <h4>Les vignes</h4>
                                                                        </header>
                                                                        <p>
                                                                                Ag&eacute;es de 35 &agrave; 40 ans, elles sont plant&eacute;es traditionnellement &agrave; 5000 pieds &agrave; l'hectare. 
                                                                                Le c&eacute;page utilis&eacute; est le cabernet Franc &agrave; 100 %.
                                                                        </p>
                                                                        <header>
                                                                                <h4>La taille</h4>
                                                                        </header>
                                                                        <p>
                                                                                La seule taille utilis&eacute;e pour ces vieilles vignes est la Guyot Val de Loire (une baguette et deux coursons).
                                                                        </p>     
                                                                        <header>
                                                                                <h4>La production</h4>
                                                                        </header>
                                                                        <p>
                                                                                L'&acirc;ge de ces vignes ainsi que le terroir tr&egrave;s calcaire onnent un rendement relativement faible. 
                                                                                La production est en moyenne de 50Hl/hect.
                                                                        </p>
                                                                    </div>
                                                                    <div class="6u special">                                                                            
                                                                        <header>
                                                                                <h4>La recolte</h4>
                                                                        </header>
                                                                        <p>
                                                                                Les vendanges sont tri&eacute;es sur des tables au dessus des bennes et achemin&eacute;es jusqu'&agrave; nos chais &agrave; Chaintres.
                                                                        </p>

                                                                        <header>
                                                                                <h4>La vinification</h4>
                                                                        </header>
                                                                        <p>
                                                                                Environ quinze de jours de mac&eacute;ration en cuves d'acier inoxydable &agrave; circulation d'eau chaude 
                                                                                ou froide pour contr&ocirc;ler les temp&eacute;ratures de vinification.
                                                                        </p>

                                                                        <header>
                                                                                <h4>Le vin</h4>
                                                                        </header>
                                                                        <p>
                                                                                Un terroir tr&egrave;s typique ainsi que des vinifications un peu plus longues nous donnent un vin qu'il faut
                                                                                attendre quelques mois pour qu'il atteigne sa pleine expression. Vin charnu, puissant et 
                                                                                l&eacute;g&egrave;rement tannique, il est remarquable apr&egrave;s quelques ann&eacute;es de vieillissement en cave. 
                                                                                Se boit &agrave; environ 14 ou 15&deg;c. 
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </section>
                                                    </article>
                                            </div>                                                              
                                    </div>          
                                    <hr>        
                                    <div class="row"  id="product5"> 
                                            <div class="2u special">
                                                    <img class="image featured" src={{asset('bundles/domainefilliatreaupresentation/images/Cuvees/Traditionnelles/pic05.gif')}} alt="" />
                                            </div>
                                            <div class="10u special">
                                                    <article>
                                                            <header>
                                                                    <h3>SAUMUR CHAMPIGNY Domaine Filliatreau Vieilles vignes</h3>
                                                                    <p>
                                                                        Le haut de gamme des cuv&eacute;es du Domaine Filliatreau.</br>
                                                                        La premi&egrave;re cuv&eacute;e Vieilles Vignes a vu le jour en 1978...
                                                                    </p>                                                                                    
                                                            </header>                                                      
                                                            <section>
                                                                <div class="row">
                                                                    <div class="6u special">
                                                                        <header>
                                                                                <h4>Terroir</h4>
                                                                        </header>
                                                                        <p>
                                                                                Des parcelles situ&eacute;es autour du petit village de Chaintres et sur les communes de Dampierre 
                                                                                sur Loire, Varrains et Chac&eacute;; au sud-est de Saumur. Toutes sur terrains argilo-calcaire.
                                                                        </p>
                                                                        <header>
                                                                                <h4>Les vignes</h4>
                                                                        </header>
                                                                        <p>
                                                                                Ce sont les plus vieilles vignes du Domaine Filliatreau. 
                                                                                D'une moyenne d'&acirc;ge tr&egrave;s &eacute;lev&eacute;e, elles sont plant&eacute;es &agrave; 5000 pieds &agrave; l'hectare et sur des
                                                                                expositions souvent nord/sud. 100% Cabernet Franc.
                                                                        </p>
                                                                        <header>
                                                                                <h4>La taille</h4>
                                                                        </header>
                                                                        <p>
                                                                                La taille la plus pratiqu&eacute;e est la "Guyot Val de Loire". Compte tenu de l'&acirc;ge des vignes, 
                                                                                il est souvent difficile de trouver le bois n&eacute;cessaire &agrave; cette technique (une baguette et 
                                                                                deux coursons). Souvent les vignes sont donc taill&eacute;es &agrave; une baguette et un courson, ou 
                                                                                parfois m&ecirc;me &agrave; court bois.
                                                                        </p>     
                                                                        <header>
                                                                                <h4>La production</h4>
                                                                        </header>
                                                                        <p>
                                                                                Le rendement des vieilles vignes est toujours tr&egrave;s inf&eacute;rieur &agrave; celui des jeunes vignes. 
                                                                                En moyenne elle produisent 30 &agrave; 40 hectolitres &agrave; l'hectare; tr&egrave;s rarement plus, et quand 
                                                                                c'est le cas, nous diminuons la charge en raisins pour ne pas fatiguer la vigne.
                                                                        </p>
                                                                    </div>
                                                                    <div class="6u special">                                                                            
                                                                        <header>
                                                                                <h4>La recolte</h4>
                                                                        </header>
                                                                        <p>
                                                                                Exclusivement manuelle, elle se fait enti&egrave;rement en caisses de 20 kg pour limiter tout risque 
                                                                                d'oxydation du jus et ainsi l'alt&eacute;ration de la qualit&eacute; du futur vin.
                                                                        </p>

                                                                        <header>
                                                                                <h4>La vinification</h4>
                                                                        </header>
                                                                        <p>
                                                                                Une quinzaine de jours de mac&eacute;ration en cuves d'acier inoxydable &agrave; pigeage automatique. 
                                                                                Un syst&egrave;me de circulation d'eau chaude ou froide permet de contr&ocirc;ler la temp&eacute;rature de 
                                                                                vinification tr&egrave;s pr&eacute;cis&eacute;ment. Deux remontages par jours, dont un avec pigeage, pendant 
                                                                                presque tout le temps de la mac&eacute;ration et un maintien des temp&eacute;ratures aux alentours de 25/27&deg;c. 
                                                                                En fin de fermentation alcoolique nous laissons la temp&eacute;rature monter jusqu'&agrave; environ 33/34&deg;c pour 
                                                                                extraire un maximum de mati&egrave;res colorantes et pour donner une bonne structure au vin. Cette technique permet 
                                                                                de donner toute l'expression des Vieilles Vignes et du Cabernet Franc sur nos terroirs. Les vins obtenus sont plus 
                                                                                structur&eacute;s et plus puissants qu'avec une vinification style "Jeunes Vignes".
                                                                        </p>

                                                                        <header>
                                                                                <h4>Le vin</h4>
                                                                        </header>
                                                                        <p>
                                                                                C'est un vin riche et puissant, souple, fruit&eacute;, et long en bouche. 
                                                                                Il peut vieillir en cave 15 ou 20 ans et se boit &agrave; environ 15&deg;C.  
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </section>
                                                    </article>
                                            </div>                                                              
                                    </div>      
                                    <hr>              
                                    <div class="row"  id="product6"> 
                                            <div class="2u special">
                                                    <img class="image featured" src={{asset('bundles/domainefilliatreaupresentation/images/Cuvees/Speciales/pic01.gif')}} alt="" />
                                            </div>
                                            <div class="10u special">
                                                    <article>
                                                            <header>
                                                                    <h3>SAUMUR Paul Filliatreau "Cuv&eacute;e de Printemps"</h3>
                                                                    <p>
                                                                        La premi&egrave;re expression du mill&eacute;sime en Saumur
                                                                    </p>                                                                                    
                                                            </header>                                                      
                                                            <section>
                                                                <div class="row">
                                                                    <div class="6u special">
                                                                        <header>
                                                                                <h4>Terroir</h4>
                                                                        </header>
                                                                        <p>
                                                                                Ce sont les terroirs les plus souples de nos vignes en AOC Saumur. Sur les communes de Bizay et Br&eacute;z&eacute;, 
                                                                                &agrave; environ 10 kms &agrave; l'est de Saumur.
                                                                        </p>
                                                                        <header>
                                                                                <h4>Les vignes</h4>
                                                                        </header>
                                                                        <p>
                                                                                Des vignes de 10 et 15 ans. Elle sont plant&eacute;es &agrave; une densit&eacute; de 5000 pieds &agrave; l'hectare. 
                                                                                Le c&eacute;page utilis&eacute; est le Cabernet Franc &agrave; 100%.
                                                                        </p>
                                                                        <header>
                                                                                <h4>La taille</h4>
                                                                        </header>
                                                                        <p>
                                                                                Traditionnellement nous pratiquons la taille Guyot "Val de Loire" (une baguette et deux coursons).
                                                                        </p>     
                                                                        <header>
                                                                                <h4>La production</h4>
                                                                        </header>
                                                                        <p>
                                                                                Le rendement de ces vignes est d'environ 55 hectolitres &agrave; l'hectare. Nous contr&ocirc;lons ce 
                                                                                rendement gr&acirc;ce &agrave; la taille, l'enherbement et parfois l'&eacute;claircissage des vignes au d&eacute;but de l'&eacute;t&eacute;.
                                                                        </p>
                                                                    </div>
                                                                    <div class="6u special">                                                                            
                                                                        <header>
                                                                                <h4>La recolte</h4>
                                                                        </header>
                                                                        <p>
                                                                                Exclusivement manuelle, elle se fait en caisses de 20 kg afin d'&eacute;viter le tassement des 
                                                                                raisins et l'oxydation du jus.
                                                                        </p>

                                                                        <header>
                                                                                <h4>La vinification</h4>
                                                                        </header>
                                                                        <p>
                                                                                Huit &agrave; dix jours de mac&eacute;ration en cuves d'acier inoxydable. Un &eacute;levage et une pr&eacute;paration 
                                                                                rapides pour une mise en bouteille pr&eacute;coce. En fin de fermentation alcoolique nous laissons la 
                                                                                temp&eacute;rature monter jusqu'&agrave; environ 33/34&deg;c pour extraire un maximum de mati&egrave;res colorantes et 
                                                                                pour donner une bonne structure au vin. Cette technique permet de donner toute l'expression des 
                                                                                Vieilles Vignes et du Cabernet Franc sur nos terroirs. Les vins obtenus sont plus structur&eacute;s et
                                                                                plus puissants qu'avec une vinification style "Jeunes Vignes".
                                                                        </p>

                                                                        <header>
                                                                                <h4>Le vin</h4>
                                                                        </header>
                                                                        <p>
                                                                                C'est un vin frais, flatteur et gouleyant, au go&ucirc;t de griotte et de fruits des bois. Il se boit &agrave; environ 14&deg;C.  
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </section>
                                                    </article>
                                            </div>                                                              
                                    </div>    
                                    <hr>        
                                    <div class="row"  id="product7"> 
                                            <div class="2u special">
                                                    <img class="image featured" src={{asset('bundles/domainefilliatreaupresentation/images/Cuvees/Speciales/pic02.gif')}} alt="" />
                                            </div>
                                            <div class="10u special">
                                                    <article>
                                                            <header>
                                                                    <h3>SAUMUR CHAMPIGNY Paul Filliatreau "Cuv&eacute;e de Printemps"</h3>
                                                                    <p>
                                                                        La premi&egrave;re expression du mill&eacute;sime en Saumur Champigny
                                                                    </p>                                                                                    
                                                            </header>                                                      
                                                            <section>
                                                                <div class="row">
                                                                    <div class="6u special">
                                                                        <header>
                                                                                <h4>Terroir</h4>
                                                                        </header>
                                                                        <p>
                                                                                Comme pour les cuv&eacute;es traditionnelles, ce sont des parcelles plac&eacute;es autour du village de 
                                                                                Chaintres et sur la commune de Dampierre sur Loire. Les terroirs les plus souples pour des 
                                                                                vins plus faciles &agrave; boire tr&egrave;s jeunes.
                                                                        </p>
                                                                        <header>
                                                                                <h4>Les vignes</h4>
                                                                        </header>
                                                                        <p>
                                                                                Ce sont les plus jeunes vignes (entre 5 et 15 ans), s&eacute;lectionn&eacute;es pour leurs aptitudes 
                                                                                &agrave; donner des vins souples. Cabernet Franc &agrave; 100%.
                                                                        </p>
                                                                        <header>
                                                                                <h4>La taille</h4>
                                                                        </header>
                                                                        <p>
                                                                                Traditionnellement nous pratiquons la taille Guyot "Val de Loire" (une baguette et deux coursons).
                                                                        </p>     
                                                                        <header>
                                                                                <h4>La production</h4>
                                                                        </header>
                                                                        <p>
                                                                                Le rendement de ces vignes est d'environ 55 hectolitres &agrave; l'hectare. Nous contr&ocirc;lons ce 
                                                                                rendement gr&acirc;ce &agrave; la taille, l'enherbement et parfois l'&eacute;claircissage des vignes 
                                                                                au d&eacute;but de l'&eacute;t&eacute;.
                                                                        </p>
                                                                    </div>
                                                                    <div class="6u special">                                                                            
                                                                        <header>
                                                                                <h4>La recolte</h4>
                                                                        </header>
                                                                        <p>
                                                                                Exclusivement manuelle, elle se fait &agrave; la hotte et en benne pour toutes les parcelles pr&egrave;s 
                                                                                des chais, ou en caisses de 20 kg pour les plus &eacute;loign&eacute;es afin d'&eacute;viter le tassement des 
                                                                                raisins et l'oxydation du jus.
                                                                        </p>

                                                                        <header>
                                                                                <h4>La vinification</h4>
                                                                        </header>
                                                                        <p>
                                                                                Huit &agrave; dix jours de cuvaison en cuves d'acier inoxydable. Un &eacute;levage et une pr&eacute;paration 
                                                                                rapides pour une mise en bouteille pr&eacute;coce.
                                                                        </p>

                                                                        <header>
                                                                                <h4>Le vin</h4>
                                                                        </header>
                                                                        <p>
                                                                                C'est un vin frais, flatteur et gouleyant, au go&ucirc;t de griotte et de fruits des bois. 
                                                                                C'est le vin de printemps dans toute sa jeuness, il se boit &agrave; la temp&eacute;rature de cave (12&deg;c &agrave; 14&deg;c).    
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </section>
                                                    </article>
                                            </div>                                                              
                                    </div>    
                                    <hr>        
                                    <div class="row"  id="product8"> 
                                            <div class="2u special">
                                                    <img class="image featured" src={{asset('bundles/domainefilliatreaupresentation/images/Cuvees/Speciales/pic03.gif')}} alt="" />
                                            </div>
                                            <div class="10u special">
                                                    <article>
                                                            <header>
                                                                    <h3>SAUMUR BLANC Imago</h3>
                                                                    <p>
                                                                        Un petit coup de folie pour associer deux passions : le vin et la p&ecirc;che &agrave; la mouche...
                                                                        L'imago est le nom de l'insecte aquatique &agrave; sa pleine maturit&eacute;, lorsqu'il il danse &agrave; la surface de l'eau, 
                                                                        d&eacute;ployant ses ailes pour pr&eacute;parer son vol nuptial, au moment m&ecirc;me o&ugrave; souvent il dispara&icirc;t 
                                                                        aval&eacute; par une truite. Avec quelques plumes de couleur, et quelques fils de soie, des hame&ccedil;ons et de la patience,
                                                                        on cherche &agrave; imiter ces "mouches" pour leurrer les poissons.
                                                                    </p>                                                                                    
                                                            </header>                                                      
                                                            <section>
                                                                <div class="row">
                                                                    <div class="6u special">
                                                                        <header>
                                                                                <h4>Terroir</h4>
                                                                        </header>
                                                                        <p>
                                                                                Comme pour les cuv&eacute;es traditionnelles, ce sont des parcelles plac&eacute;es autour du village de 
                                                                                Chaintres et sur la commune de Dampierre sur Loire. Les terroirs les plus souples pour des 
                                                                                vins plus faciles &agrave; boire tr&egrave;s jeunes.
                                                                        </p>
                                                                        <header>
                                                                                <h4>Les vignes</h4>
                                                                        </header>
                                                                        <p>
                                                                                Les vignes ont en moyenne 30 &agrave; 35 ans. Elles sont plant&eacute;es &agrave; 5000 pieds &agrave; l'hectare. 
                                                                                Le c&eacute;page utilis&eacute; est le CHENIN &agrave; 100%.
                                                                        </p>
                                                                        <header>
                                                                                <h4>La taille</h4>
                                                                        </header>
                                                                        <p>
                                                                                La taille la plus utilis&eacute;e pour ces vignes est la taille &agrave; court bois.
                                                                        </p>     
                                                                        <header>
                                                                                <h4>La production</h4>
                                                                        </header>
                                                                        <p>
                                                                                Le rendement est relativement faible pour concentrer les ar&ocirc;mes du Chenin. Environ 40 hectolitres par hectares.
                                                                        </p>
                                                                    </div>
                                                                    <div class="6u special">                                                                            
                                                                        <header>
                                                                                <h4>La recolte</h4>
                                                                        </header>
                                                                        <p>
                                                                                Exclusivement manuelle, la r&eacute;colte se fait traditionnellement &agrave; la hotte, en bennes &agrave; vendanges,
                                                                                en plusieurs tris successifs et sur plusieurs semaines pour optimiser la maturit&eacute; des raisins.
                                                                        </p>

                                                                        <header>
                                                                                <h4>La vinification</h4>
                                                                        </header>
                                                                        <p>
                                                                                Apr&egrave;s une mac&eacute;ration pelliculaire de quelques heures suivie d'un pressurage, la fermentation se 
                                                                                fait en cuves inox, &agrave; basse temp&eacute;rature et en barrique en cave. Apr&egrave;s la fermentation alcoolique,
                                                                                nous effectuons une fermentation malo-lactique pour diminuer l'acidit&eacute; du chenin. Apr&egrave;s un an 
                                                                                d'&eacute;levage, le vin des barriques est assembl&eacute; &agrave; celui des cuves pour ne sortir qu'une 
                                                                                cuv&eacute;e.
                                                                        </p>

                                                                        <header>
                                                                                <h4>Le vin</h4>
                                                                        </header>
                                                                        <p>
                                                                                Vif, au bouquet fruit&eacute;, aux ar&ocirc;mes de miel, rond et long en bouche, ce vin peut vieillir une dizaine d'ann&eacute;es comme il peut &ecirc;tre bu dans l'ann&eacute;e. 
                                                                                Il se boit &agrave; environ 8&deg;c, et accompagne tr&egrave;s bien les fromages de ch&egrave;vre, la charcuterie ou les poissons au naturel...      
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </section>
                                                    </article>
                                            </div>                                                              
                                    </div>    
                                    <hr>         
                                    <div class="row"  id="product9"> 
                                            <div class="2u special">
                                                    <img class="image featured" src={{asset('bundles/domainefilliatreaupresentation/images/Cuvees/Speciales/pic04.gif')}} alt="" />
                                            </div>
                                            <div class="10u special">
                                                    <article>
                                                            <header>
                                                                    <h3>SAUMUR ROUGE Ch&acirc;teau Fouquet "Cuv&eacute;e des 12 f&ucirc;ts"</h3>
                                                                    <p>
                                                                        Les vignes du Ch&acirc;teau Fouquet sont enti&egrave;rement cultiv&eacute;es et travaill&eacute;es selon les r&egrave;gles de l'agriculture
                                                                        biologique. Beaucoup de concentration, et une vinification tr&egrave;s diff&eacute;rente de nos cuv&eacute;es traditionnelles.
                                                                        Douze barriques pour ce vin tr&egrave;s particulier. Une production tr&egrave;s limit&eacute;e , seulement 4000 bouteilles 
                                                                        disponibles, par mill&eacute;simes, et sur r&eacute;servation.
                                                                    </p>                                                                                    
                                                            </header>                                                      
                                                            <section>
                                                                <div class="row">
                                                                    <div class="6u special">
                                                                        <header>
                                                                                <h4>Terroir</h4>
                                                                        </header>
                                                                        <p>
                                                                                Comme pour les cuv&eacute;es traditionnelles, ce sont des parcelles plac&eacute;es autour du village de 
                                                                                Chaintres et sur la commune de Dampierre sur Loire. Les terroirs les plus souples pour des 
                                                                                vins plus faciles &agrave; boire tr&egrave;s jeunes.
                                                                        </p>
                                                                        <header>
                                                                                <h4>Les vignes</h4>
                                                                        </header>
                                                                        <p>
                                                                                Les vignes ont en moyenne 30 &agrave; 35 ans. Elles sont plant&eacute;es &agrave; 5000 pieds &agrave; l'hectare. 
                                                                                Le c&eacute;page utilis&eacute; est le CHENIN &agrave; 100%.
                                                                        </p>
                                                                        <header>
                                                                                <h4>La taille</h4>
                                                                        </header>
                                                                        <p>
                                                                                Traditionnellement nous pratiquons la taille Guyot "Val de Loire" (une baguette et deux coursons)
                                                                                ce qui permet un choix plus facile du futur bois fructif&egrave;re lors de la taille, et une bonne
                                                                                r&eacute;partition des grappes sur ces m&ecirc;mes bois. Donc plus d'a&eacute;ration des raisins, et une meilleur exposition des fruits.
                                                                        </p>     
                                                                        <header>
                                                                                <h4>La production</h4>
                                                                        </header>
                                                                        <p>
                                                                                Le rendement de ces vignes est de 35 &agrave; 40 hectolitres &agrave; l'hectare, que nous contr&ocirc;lons gr&acirc;ce &agrave; la taille, 
                                                                                l'enherbement et l'&eacute;claircissage des vignes au d&eacute;but de l'&eacute;t&eacute;.
                                                                        </p>
                                                                    </div>
                                                                    <div class="6u special">                                                                            
                                                                        <header>
                                                                                <h4>La recolte</h4>
                                                                        </header>
                                                                        <p>
                                                                                Exclusivement manuelle, elle se fait en caisses de 20 kg afin d'&eacute;viter le tassement des raisins 
                                                                                et donc toute oxydation du jus.
                                                                        </p>

                                                                        <header>
                                                                                <h4>La vinification</h4>
                                                                        </header>
                                                                        <p>
                                                                                Environ trente jours de cuvaison en cuves d'acier inoxydable.Deux remontages et un pigeage par
                                                                                jour pendant la premi&egrave;re partie de la mac&eacute;ration, puis un remontage ou un pigeage par jour.
                                                                        </p>

                                                                        <header>
                                                                                <h4>L'&eacute;levage</h4>
                                                                        </header>
                                                                        <p>
                                                                                18 mois d'&eacute;levage en f&ucirc;ts de ch&ecirc;ne (1/3 neuf).      
                                                                        </p>
                                                                        
                                                                        <header>
                                                                                <h4>Le vin</h4>
                                                                        </header>
                                                                        <p>
                                                                                Un vin qui doit &ecirc;tre pr&eacute;par&eacute; s'il est consomm&eacute; 
                                                                                jeune : une bonne a&eacute;ration et plusieurs heures 
                                                                                de carafe avant de le servir. Vous pouvez aussi le garder
                                                                                en cave de nombreuses ann&eacute;es et d&eacute;couvrir ainsi de nouveaux ar&ocirc;mes.                                                               
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </section>
                                                    </article>
                                            </div>                                                              
                                    </div>                 
                            </div>
                    </div>
{% endblock %}