
  {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}
    
    <div class="form-group form-group-sm">
      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.firstName) }}

      <div class="col-sm-4">
        {# Génération de l'input. #}
        {{ form_widget(form.firstName, {'attr': {'class': 'form-control input-sm', 'placeholder': 'Prenom'}}) }}
      </div>
    </div>
    
    <div class="form-group">
      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.lastName) }}

      <div class="col-sm-4">
        {# Génération de l'input. #}
        {{ form_widget(form.lastName, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
      </div>
    </div>

      
      
    <div class="form-group">
      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.emailAddress) }}

      <div class="col-sm-4">
        {# Génération de l'input. #}
        {{ form_widget(form.emailAddress, {'attr': {'class': 'form-control', 'placeholder': 'Adresse email'}}) }}
      </div>
    </div>
      
    <div class="form-group">
      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.title) }}

      <div class="col-sm-4">
        {# Génération de l'input. #}
        {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Sujet'}}) }}
      </div>
    </div>
      
    <div class="form-group">
      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.content) }}

      <div class="col-sm-4">
        {# Génération de l'input. #}
        {{ form_widget(form.content, {'attr': {'class': 'form-control', 'placeholder': 'Votre message ici'}}) }}
      </div>
    </div>
      
      
  {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  {{ form_widget(form.envoyer, {'attr': {'class': 'button circled scrolly'}}) }}
  
  {{ form_rest(form) }}
  
  
  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}

